<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greedy.section01.xml.DynamicSqlMapper">

	<resultMap type="com.greedy.common.MenuDTO" id="menuResultMap">
		<id property="code" column="MENU_CODE"/>
		<result property="name" column="MENU_NAME"/>
		<result property="price" column="MENU_PRICE"/>
		<result property="categoryCode" column="CATEGORY_CODE"/>
		<result property="orderableStatus" column="ORDERABLE_STATUS"/>
	</resultMap>

	<select id="selectMenuByPrice" parameterType="hashmap" resultMap="menuResultMap">
		SELECT
		       MENU_CODE
		     , MENU_NAME
		     , MENU_PRICE
		     , CATEGORY_CODE
		     , ORDERABLE_STATUS
		  FROM TBL_MENU
		 WHERE ORDERABLE_STATUS = 'Y'
		 <if test="price gte 0 and price lte 10000">
		 <![CDATA[
		   AND MENU_PRICE < #{ price }
		 ]]>
		 </if>
		 <if test="price gt 10000 and price lte 20000">
		   AND MENU_PRICE BETWEEN 10000 AND #{ price }
		 </if>
		 <if test="price gt 20000 and price lte 30000">
		   AND MENU_PRICE BETWEEN 20000 AND #{ price }
		 </if>
		 <if test="price gt 30000">
		   AND MENU_PRICE BETWEEN 30000 AND #{ price }
		 </if>
		 ORDER BY MENU_CODE
	</select>
	
	<select id="searchMenu" parameterType="SearchCriteria" resultMap="menuResultMap">
		SELECT
		       MENU_CODE
		     , MENU_NAME
		     , MENU_PRICE
		     , CATEGORY_CODE
		     , ORDERABLE_STATUS
		  FROM TBL_MENU
		  <if test="condition == 'category'">
		  JOIN TBL_CATEGORY USING(CATEGORY_CODE)
		  </if>
		 WHERE ORDERABLE_STATUS = 'Y'
		 <if test="condition == 'name'">
		   AND MENU_NAME LIKE '%' || #{ value } || '%' 
		 </if>
		 <if test="condition == 'category'">
		   AND CATEGORY_NAME = #{ value }
		 </if>
	     ORDER BY MENU_CODE
	</select>
	
	<select id="searchMenuBySupCategory" parameterType="SearchCriteria" resultMap="menuResultMap">
		SELECT
		       MENU_CODE
		     , MENU_NAME
		     , MENU_PRICE
		     , CATEGORY_CODE
		     , ORDERABLE_STATUS
		  FROM TBL_MENU	
	     WHERE ORDERABLE_STATUS = 'Y'
	     <choose>
	     <when test="value == '식사'">
	       AND CATEGORY_CODE IN (4, 5, 6, 7)
	     </when>
	     <when test="value == '음료'">
	       AND CATEGORY_CODE IN (8, 9, 10)
	     </when>
	     <otherwise>
	       AND CATEGORY_CODE IN(11, 12)
	     </otherwise>
	     </choose>
	     ORDER BY MENU_CODE
	</select>
	
	<select id="searchMenuByRandomMenuCode" parameterType="hashmap" resultMap="menuResultMap">
		SELECT
		       MENU_CODE
		     , MENU_NAME
		     , MENU_PRICE
		     , CATEGORY_CODE
		     , ORDERABLE_STATUS
		  FROM TBL_MENU	
	     WHERE ORDERABLE_STATUS = 'Y'	
	       AND MENU_CODE IN
	     <foreach collection="randomMenuCodeList" item="menuCode" open="(" separator=", " close=")">
	     	   #{ menuCode }
	     </foreach>
	</select>
	
	<select id="searchMenuByCodeOrSearchAll" parameterType="SearchCriteria" resultMap="menuResultMap">
		SELECT
		       MENU_CODE
		     , MENU_NAME
		     , MENU_PRICE
		     , CATEGORY_CODE
		     , ORDERABLE_STATUS
		  FROM TBL_MENU	
		  <if test="condition != null and condition eq 'menuCode'">
		  	<where>
		  		MENU_CODE = #{ value }
		  	</where>
		  </if>		
	
	</select>
	
	<select id="searchMenuByNameOrCategory" parameterType="hashmap" resultMap="menuResultMap">
		SELECT
		       MENU_CODE
		     , MENU_NAME
		     , MENU_PRICE
		     , CATEGORY_CODE
		     , ORDERABLE_STATUS
		  FROM TBL_MENU		
		
		<!-- 문제 발생 : 카테고리로 조회하는 경우 where이 붙지 않기 때문에 이렇게 조회할 수 없다. -->
		<!-- <if test="nameValue != null">
		 WHERE MENU_NAME LIKE '%' || #{ nameValue } || '%'
		</if>
		<if test="categoryValue != null">
		   AND CATEGORY_CODE = #{ categoryValue } 
		</if> -->
		

<!-- 		<where>
			<if test="nameValue != null">
		 		MENU_NAME LIKE '%' || #{ nameValue } || '%'
			</if>
			<if test="categoryValue != null">
			   AND CATEGORY_CODE = #{ categoryValue } 
			</if>
		</where> -->
		

		 <trim prefix="WHERE" prefixOverrides="AND | OR">
		 	<if test="nameValue != null">
		 		MENU_NAME LIKE '%' || #{ nameValue } || '%'
			</if>
			<if test="categoryValue != null">
			   AND CATEGORY_CODE = #{ categoryValue } 
			</if>
		 </trim>
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>